.form {
    max-width: 952px;
    width: 100%;
    display: grid;
    grid-template-columns: 206px 1fr;
    gap: 12px;
    width: 100%;
    margin: 12px auto 0; 
  }
  
  .button_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));  
    gap: 12px;
    width: 100%;
  }
  
  .wide_buttons {
    justify-content: space-between;
    width: 362px;
  }
  
  .wide_buttons button {
    width: 175px;
  }
  .visual {
    display: flex;
    margin: 90px auto 0;
    justify-content: center;
    gap: 22px;
  }
  .visual_arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }