.form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0 auto;
    width: 567px;
}

.visual {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 48px;
    justify-content: center;
    margin: 48px auto 0;
    flex-wrap: wrap;
    max-width: 944px;
}   